:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "League Spartan", sans-serif;
}

@media (min-width: 800px) {
  #root {
    /* display: flex;
    flex-direction: column; */
  }
}
/* @media (prefers-color-scheme: light)  */
